export const config = {
    /* Discord settings
    * ownerRoleID: The role ID of the owners of the bot
    */
    guildID: "712276556244058173",
    ownerRoleID: "712541988339187714",
    socialFeedChannel: "712277135909191782",
    token: "",
    prefix: ".",

    sentry: {
        enabled: false,
        dsn: ""
    },
    // MongoDB for storing reddit usernames and guild settings
	mongodb: {
		url: "mongodb://mongo:27017/talkreddit"
    },
    // What we use to fetch submissions, etc
	reddit: {
        clientId: "",
        clientSecret: "",
        userAgent: "",
        username: "",
        password: "",
        subreddit: "",
        verification: true
    },

    twitter: {
        consumer_key: "",
        consumer_secret: "",
        access_token_key: "",
        access_token_secret: "",
        users: "61644412,2245750711",
    },

    youtube: {
        api_key: "",
    }
}
